<table id="wordlist_arrange">
 <tr>
  <th>Word</th>
   <tr>
    <td>
      <% Wordlist.order(:word).sort_by(&:word).each do |wordlist| %>
      <br>
      <%= wordlist.word %>
      <br>
      <% end %>
    </td>
   </tr>
 </tr>
</table>
